uni-page-body{
	min-height: 100%;
}
.ny-page-space{
	// padding-top: 40rpx;
	padding-left: 30rpx;
	padding-right: 30rpx;
	min-height: 100%;
}
.ny-outer-space{
	padding-left: 30rpx;
	padding-right: 30rpx;
}
.bb-border-bottom{
	position: absolute;
	display: block;
	height: 1px;
	width: 100%;
	background:#eee;
	bottom: 0;
	left: 0;
	right: 0;
}



