$import-text-color:#070707;
$second-text-color:#484e54;
$third-text-color:#626466;
$normal-text-color:#939393;
$main-background:#f6f6f6; // 大背景颜色
uni-page-body{
	min-height: 100%;
}
.ny-page-space{
	// padding-top: 40rpx;
	padding-left: 30rpx;
	padding-right: 30rpx;
	min-height: 100%;
}
.ny-outer-space{
	padding-left: 30rpx;
	padding-right: 30rpx;
}
.bb-border-bottom{
	position: absolute;
	display: block;
	height: 1px;
	width: 100%;
	background:#eee;
	bottom: 0;
	left: 0;
	right: 0;
}




